@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.disabledButton {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 14px;
    padding: 10px 30px;
    border: solid #4c4c75 2px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 25px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: lowercase;
    cursor: not-allowed;
    background-color: #cfcdcda4;
}

@media (prefers-color-scheme: dark) {
    .disabledButton {
        background-color: #001a1a;
        color: #aaa;
        border-style: double;
        border-color: #7c7a7a;
        border-width: 3px;
    }
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: transparent;
    padding-top: 10px;
}

.button {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 14px;
    padding: 10px 30px;
    border: double #4c4c75 2px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 25px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: lowercase;
}


@media (pointer: fine) {
    .button {
        transition: 584ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        text-transform: lowercase;
    }

    .button:hover {
        transition: 584ms;
        padding: 10px 30px;
        transform: translateY(-2px);
        background-color: #fff;
        color: #0066cc;
    }

}
@media (prefers-color-scheme: dark) {
    .button {
        background-color: #001a1a;
        color: #fff;
        border-style: double;
        border-color: #fff;
        color: #c3c0c0;
        border-width: 3px;
    }
    .button:hover {
        transition: 584ms;
        padding: 10px 30px;
        transform: translateY(-2px);
        background-color: #000000;
        color: #fffbfb;

    }
}
